{% extends 'base.html' %}

    
    {% block content %}
    <header class="bg-light py-5 mt-4">
        <div class="container-fluid px-4 px-lg-5">
        <div style="height: 20px;">
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col col-lg-3">
            
                </div>
                <div class="col col-lg-6">
                  <h6 class="display-4 fw-normal fs-7 text-center text-warning">About Us</h6>
                    
                </div>
                <div class="col col-lg-3">
                    
                </div>
                
            </div>
          </div>
        </div>
    </header>

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </center>
        </div>
    </div>
    {% endblock %}