{% extends 'base.html' %}

    
    {% block content %}
    <!--<header class="bg-light py-5 mt-4">
      <div class="container-fluid px-4 px-lg-5">
      <div style="height: 20px;">
          <div class="row row-cols-1 row-cols-lg-3">
              <div class="col col-lg-3">
          
              </div>
              <div class="col col-lg-6">
                <h6 class="display-4 fw-normal fs-7 text-center text-warning">Sign In</h6>
                  
              </div>
              <div class="col col-lg-3">
                  
              </div>
              
          </div>
        </div>
      </div>
  </header>-->
  <section class="py-3 bg-light">
    <div class="container px-4 px-lg-5 mt-5" data-aos="fade-up">
        <div class="row">
          
          <div class="col-lg-4 offset-lg-4">
            <form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% if messages %}
              <div class="alert alert-primary bg-warning"  role="alert">
              {% for message in messages %}
               {{ message }}
              {% endfor %}  
              </div>
              {% endif %}
              <!--<div class="badge text-bg-light fs-1 fw-normal fw-bold text-primary" style="width: 100%;">
                Holystore
            </div>-->
              <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                
              <!--<img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
              <p class= "text-center fw-semibold" >Sign in to Holystore</p>-->
              <a href="#" class="read-more fw-bolder fs-5"><p class="text-center">Sign in to Holystore</p></a>
          
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
                <label for="floatingInput">Username</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="pass">
                <label for="floatingPassword">Password</label>
              </div>
          
              <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Remember me
                </label>
              </div>
              <button class="btn btn-warning w-100 py-2 " type="submit" >Sign in</button>
              <p><a href="{% url 'register' %}" class="text-decoration-none">Sign up for Holystore</a> </p>
            </div>
          
            </form>
          </div>
          

        </div>
    </div>
    </section>
    {% endblock %}