<nav class="fixed-top navbar navbar-expand-lg navbar-light bg-dark">
    
    <div class="container-fluid px-4 px-lg-5">
        <a class="navbar-brand" href="#!"><p class="fw-semibold text-white fs-4">Holystore</p></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}"><p class="text-white">Home</p></a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'search' %}"><p class="text-white">Search</p></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"><p class="text-white">About</p></a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'category_summary' %}">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        
                        <li><a class="dropdown-item" href="{% url 'category' 'Shankh' %}">Shankh</a></li>
                        
                        <li><a class="dropdown-item" href="{% url 'category' 'Garlands' %}">Garlands</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Sphatik' %}">Sphatik</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Brass-Items' %}">Brass Items</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Copper Items' %}">Copper Items</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><p class="text-white">Logout</p></a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                       <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                           <li><a class="dropdown-item" href="{% url 'update_user' %}">User Profile</a></li>
                           <li><hr class="dropdown-divider" /></li>
                       
                           <li><a class="dropdown-item" href="{% url 'update_info' %}">User Info</a></li>
                       
                       
                       </ul>
                   </li>
                   {% if user.is_superuser %}
                   <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Orders</a>
                   <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <li><a class="dropdown-item" href="{% url 'shipped_dash' %}">Shipped Orders</a></li>
                       <li><hr class="dropdown-divider" /></li>
                   
                       <li><a class="dropdown-item" href="{% url 'not_shipped_dash' %}">UnShipped Orders</a></li>
                   
                   
                   </ul>
                   </li>
                    {% endif %}
                   <li class="nav-item"><a class="nav-link" href="{% url 'update_password' %}"><p class="text-white">Update Password</p></a></li> 
                {% else %}    
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><p class="text-white">Login</p></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}"><p class="text-white">Register</p></a></li>
                {% endif %}    
            </ul>
            <form class="d-flex" method="post" action="{% url 'search' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="searched">
                <button class="btn btn-outline-warning" type="submit">Search</button>
              </form>&nbsp;
            <form class="d-flex">
                <a href="{% url 'cart_summary' %}" class="btn btn-outline-light"><i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-warning ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span></a>
            </form>
        </div>
    </div>
    
</nav>

