{% extends 'base.html' %}

{% block content %}
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About</h2>
      <p>Who we are</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
          <p>
            Namaste Ram Ram Ji, Welcome to the world of Holystore. We try and are making sure that almost every pooja material is available to the people of this country through us.
            
          </p>
          <ul>
            <li><i class="bi bi-check2-circle"></i><span>All our pooja items are original and genuine.</span></li>
            <li><i class="bi bi-check2-circle"></i><span>Products like Shankh, Shaligram, Rudraksha, Sphatik etc are original and genuine.</span></li>
            <li><i class="bi bi-check2-circle"></i><span>Some certified products are also available like Rudraksha and Rudraksha Mala.</span></li>
          </ul>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <p>With a simple user-friendly interface, Holystore Online provides a stunning shopping experience for customers looking for quality pooja products. The platform offers a wide variety of products, from traditional items like shankh, shaligram , chandan ,wooden handle camphor diya, and rudraksha to modern and innovative products like pooja thalis and Akhand jyoti stand holders. </p>
          <!--<a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>-->
        </div>

      </div>

    </div>

  </section><!-- /About Section -->
{% endblock %}