<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between ">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Holystore</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}" class="active">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'search' %}">Search</a></li>
          
          <li class="dropdown"><a href="#"><span>Categories</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'category_summary' %}">All Products</a></li>
              
              <li><a href="{% url 'category' 'Shankh' %}">Shankh</a></li>
              <li><a href="{% url 'category' 'Garlands' %}">Garlands</a></li>
              <li><a href="{% url 'category' 'Sphatik' %}">Sphatik</a></li>
              <li><a href="{% url 'category' 'Shaligram' %}">Shaligram</a></li>
              <li><a href="{% url 'category' 'Kaudi' %}">Kaudi</a></li>
              <li><a href="{% url 'category' 'Rudraksha' %}">Rudraksha</a></li>
              <li><a href="{% url 'category' 'Chakra' %}">Chakra</a></li>
              <li><a href="{% url 'category' 'Bronze Items' %}">Bronze Items</a></li>
              <li><a href="{% url 'category' 'Copper Items' %}">Copper Items</a></li>
              <li><a href="{% url 'category' 'Brass plates' %}">Brass plates</a></li>
              <li><a href="{% url 'category' 'Brass kalash' %}">Brass kalash</a></li>
              <li><a href="{% url 'category' 'Brass diya' %}">Brass diya</a></li>
              <li><a href="{% url 'category' 'Stamps' %}">Stamps</a></li>
              <li><a href="{% url 'category' 'Bracelet' %}">Bracelet</a></li>
            </ul>
          </li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}" class="active">Logout</a></li>
          <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'update_user' %}">User Profile</a></li>
              
              <li><a href="{% url 'update_info' %}">User Info</a></li>
              
            </ul>
          </li>
              {% if user.is_superuser %}
              <li class="dropdown"><a href="#"><span>Orders</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="{% url 'shipped_dash' %}">Shipped Orders</a></li>
                  
                  <li><a href="{% url 'not_shipped_dash' %}">UnShipped Orders</a></li>
                  <li><a href="{% url 'paid_details' %}">Amount paid user details</a></li>
                </ul>
              </li>
              <li><a href="{% url 'contactinfo' %}">MessageInfo</a></li>
              {% endif %}
              <li><a href="{% url 'update_password' %}">Update Password</a></li>
          {% else %} 
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          {% endif %}
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <form class="d-flex">
            <a href="{% url 'cart_summary' %}" class="btn btn-outline-light"><i class="bi-cart-fill me-1"></i>
                Cart
                <span class="badge bg-dark text-warning ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span></a>
        </form>
        </ul>
        <!--<form class="d-flex" method="post" action="{% url 'search' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="searched">
          <button class="btn btn-outline-warning" type="submit">Search</button>
        </form>&nbsp;-->
      
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">
      
      <div id="hero-carousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

         
        <div class="carousel-item active">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to Holystore</h2>
            <p class="animate__animated animate__fadeInUp">Presence Of Divine In Your World</p>
            
          </div>
        </div>

         <!--Slide 2 
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>

       
       <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>-->

        <!--<a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>-->

      </div>

      <!--<svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
          <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
          <use xlink:href="#wave-path" x="50" y="3"></use>
        </g>
        <g class="wave2">
          <use xlink:href="#wave-path" x="50" y="0"></use>
        </g>
        <g class="wave3">
          <use xlink:href="#wave-path" x="50" y="9"></use>
        </g>
      </svg>-->

    </section> <!--/Hero Section -->

    <!-- About Section -->
    
  </main>
