{% extends 'base.html' %}
{% block content %}
<section class="py-3 bg-light">
    <div class="container px-4 px-lg-5 mt-5" data-aos="fade-up">
        <div class="row">
          
          <div class="col-lg-4 offset-lg-4">
            {% if validlink %}
          <h3>Change Password</h3>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              
                <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                
                
               {{ form.as_p }} 
               <button class="btn btn-warning w-100 py-2" type="submit">Change Password</button>
               
              </div>
            </form>
            {% else %}
            <p>
              The password link reset was invalid, possibly because it has already been used. please request a new password reset
            </p>
            <br><br> <br><br><br><br><br>
            {% endif %}  
          </div> 

        </div>
    </div>
    </section>


{% endblock %}