{% extends 'base.html' %}

    
    {% block content %}
    <!--<header class="bg-light py-5 mt-4">
      <div class="container-fluid px-4 px-lg-5">
      <div style="height: 20px;">
          <div class="row row-cols-1 row-cols-lg-3">
              <div class="col col-lg-3">
          
              </div>
              <div class="col col-lg-6">
                <h6 class="display-4 fw-normal fs-7 text-center text-warning">Sign Up</h6>
                  
              </div>
              <div class="col col-lg-3">
                  
              </div>
              
          </div>
        </div>
      </div>
  </header>-->
    <section class="py-3 bg-light">
    <div class="container px-4 px-lg-5 mt-5" data-aos="fade-up">
        <div class="row">
          
          <div class="col-lg-4 offset-lg-4">
            <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% if messages %}
              <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                      {{ message }}
                    {% endfor %}  
              </div>
                {% endif %}
                <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <!--<h3 class="text-center">Sign Up to Holystore</h3>-->
                <a href="#" class="read-more fw-bolder fs-5"><p class="text-center">Sign up to Holystore</p></a>
               {{ form.as_p }} 
               <button class="btn btn-warning w-100 py-2" type="submit">Sign up</button>
               <p>  <a href="{% url 'login' %}">Already have an account?</a> </p>
              </div>
            </form>
            <br><br> <br><br><br><br><br>  
          </div> 

        </div>
    </div>
    </section>
    {% endblock %}