{% extends 'base.html' %}

{% block content %}
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Refund policy </h2>
      
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-md-6 col-lg-12 content" data-aos="fade-up" data-aos-delay="100">
          <p>
            Refund and Cancellation policy</p>
            <p>This refund and cancellation policy outlines how you can cancel or seek a refund for a product / service that you have purchased through the Platform. Under this policy:</p>
            <p>1. The refund / replacement can be made if the user establishes that the quality of the product delivered is not good.</p>
            <p>2. In case of receipt of damaged or defective items, please report to us by mail. This should be reported within 7 days of receipt of products. In case you feel that the product received is not as shown on the site or as per your expectations, you must bring it to the notice of our customer service within 7 days of receiving the product. The customer service team after looking into your complaint will take an appropriate decision.</p>
            <p>3. In case of any refunds approved by us, it will take 5 days for the refund to be processed to you.</p>


            <p>Return Policy</p>
            <p>We offer refund / exchange within first 7 days from the date of your purchase. If 7 days have passed since your purchase, you will not be offered a return, exchange or refund of any kind. In order to become eligible for a return or an exchange, (i) the purchased item should be unused and in the same condition as you received it, (ii) the item must have original packaging, (iii) if the item that you purchased on a sale, then the item may not be eligible for a return/exchange. Further, only such items are replaced by us (based on an exchange request), if such items are found defective or damaged.</p>
            <p>You agree that there may be a certain category of products / items that are exempted from returns or refunds. Such categories of the products would be identified to you at the item of purchase. For exchange / return accepted request(s) (as applicable), once your returned product / item is received and inspected by us, we will send you an email to notify you about receipt of the returned / exchanged product. Further. If the same has been approved after the quality check at our end, your request (i.e. return/exchange) will be processed in accordance with our policies.</p>

            <p>Shipping Policy</p>
            <p>The orders for the user are shipped through registered domestic courier companies and/or speed post only. Orders are shipped within 2 or 3 days from the date of the order and/or payment or as per the delivery date agreed at the time of order confirmation and delivering of the shipment, subject to courier company/ post office norms. Platform Owner shall not be liable for any delay in delivery by the courier company/ postal authority. Delivery of all orders will be made to the address provided by the buyer at the time of purchase. Delivery of our services will be confirmed on your email ID as specified at the time of registration. If there are any shipping cost(s) levied by the seller or the Platform Owner (as the case be), the same is not refundable.</p>


            
          
          
        </div>

        

      </div>

    </div>

  </section><!-- /About Section -->
{% endblock %}