{% extends 'base.html' %}

    
    {% block content %}
    {% if messages %}
    <div class="alert alert-primary" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}  
    </div>
    {% endif %}
    
    <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
            <center>
                <div class="col-10">
                    
                    <div class="card">
                        <div class="card-header">
                          Search Products
                        </div>
                        <div class="card-body">
                         <form method="post" action="{% url 'search' %}" enctype="multipart/form-data">
                            {% csrf_token %}

                         
                            <div class="mb-3">
                                
                                <input type="text" class="form-control"  placeholder="Search For Products" name="searched">
                              </div>
                              <button type="submit" class="btn btn-warning">Search Products</button>
                         </form>     
                        </div>
                        
                    </div>
                    
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 mt-5 justify-content-center">
                    {% if searched %}
                        {% for product in searched %}
                        {% if product.is_sale %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <div class="badge text-bg-danger text-white position-absolute" style="top:0.5rem; right:0.5rem">Sale</div>
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                        <!-- Product price-->
                                        <strike>&#8377;{{ product.price }}</strike>&nbsp;
                                        &#8377;{{ product.sale_price }}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-warning text-white fw-bolder mt-auto" href="{% url 'product' product.id %}">View product</a></div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                        <!-- Product price-->
                                        {{ product.price }}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-warning text-white fw-bolder mt-auto" href="{% url 'product' product.id %}">View product</a></div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}



                    {% endif %}
                </div>
                </div>    
            </center>
        </div>
    </div>
    </section>
    {% endblock %}