{% extends 'base.html' %}

    
    {% block content %}
        <!-- Header-->
        
        <br><br>
        <div class="container">
          <a href="#" class="read-more fw-bolder fs-2"><p class="text-center">Billing Information</p></a>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header">
                          Order Summary
                        </div>
                        <div class="card-body">
                          {% for product in cart_products %}
                              {{ product.name }}:  
                            {% if product.is_sale %}
                                &#8377;{{ product.sale_price }}
                            {% else %}
                                &#8377;{{ product.price }}

                            {% endif %}
                             <br>   
                           <small>Quantity:
                            {% for key, value in quantities.items %}
                                    {% if key == product.id|slugify %}
                                        {{ value }}
                                    {% endif %}
                            {% endfor %} </small> 
                            <br><br>
                            
                          {% endfor %}
                          Total: &#8377;{{ totals }}
                          <br><br>
                          <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-warning text-white fw-bolder">Update Items</a>
                        </div>
                      </div>
                      <br><br>
                      <div class="card">
                        <div class="card-header">
                          Shipping Info
                        </div>
                        <div class="card-body">
                          
                            {% csrf_token %}
                         Name: {{ shipping_info.shipping_full_name }}<br>
                         Email: {{ shipping_info.shipping_email }}<br>
                         Address 1: {{ shipping_info.shipping_address1 }}<br>
                         Address 2: {{ shipping_info.shipping_address2 }}<br>
                         City: {{ shipping_info.shipping_city }}<br>
                         State: {{ shipping_info.shipping_state }}<br>
                         Zipcode: {{ shipping_info.shipping_zipcode }}<br>
                         Country: {{ shipping_info.shipping_country }}<br>
                         <br>
                         <a href="{% url 'checkout' %}" class="btn btn-warning text-white fw-bolder">Update Shipping</a>
                        </div>
                      </div>
                      <br><br>
                     <!--<center> {{ paypal_form.render }}</center>-->
                  
<center><button type="submit" id="rzp-button1">Pay with Razorpay</button> </center>     

{% if payment %}
<form action="{% url 'payment_success' %}" method="post">
 {% csrf_token %} 
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "rzp_live_50JrmHESiXLiZJ", // Enter the Key ID generated from the Dashboard
    "amount": "{{ payment.amount }}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Holystore",
    "description": "Presence of divine in ur world",
    "image": "https://example.com/your_logo",
    "order_id": "{{ payment.id }}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    //"callback_url": "https://holystore.in/payment/payment_success",
    "callback_url": "{% url 'payment_success' %}",
    
    "prefill": {
        "name": "Preetu singh",
        "email": "preetuyashu@gmail.com",
        //"contact": "9634137482"
    },
    "notes": {
        "address": "Haridwar"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>

</form>
{% endif %}


                      <br><br>
                      <!--<div class="card">
                        <div class="card-header">
                          Billing Info
                        </div>
                        <div class="card-body">
                         <form method="post" action="{% url 'process_order' %}">
                          {% csrf_token %} 
                          {{ billing_form.as_p }}
                            
                        </div>
                      </div>
                      <br>
                      <button type="submit" class="btn btn-warning text-white fw-bolder">Pay Now</button>
                     </form>
                      <br><br>
                </div>
            </div>-->    

        </div> 
      </div>
    </div>   
    
    
{% endblock %}