{% extends 'base.html' %}

    
    {% block content %}
    
  
  <!-- Section-->
  <section class="py-5">

    <div class="container px-4 px-lg-5 mt-1" data-aos="fade-up" data-aos-delay="100">
      <a href="#" class="read-more fw-bolder fs-2"><p class="text-center">Shipped Items</p></a>
        <div class="row">
            <center>
                <div class="col-8">
                    <br><br>
                    <!--<h3>Shipped Items</h3>-->
                    <table class="table table-striped table-hover table-bordered">
                        <thead class="table-dark">
                          <tr>
                            
                            <th scope="col">Order</th>
                            <th scope="col">Price</th>
                            <th scope="col">Customer Email</th>
                            <th scope="col">Date Shipped</th>
                            <th scope="col">Shipped Status</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for items in orders %}
                          <tr>
                            
                            <td><a href="{% url 'orders' items.id %}">{{items.id}}</a></td>
                            <td>&#8377;{{items.amount_paid}}</td>
                            <td>{{items.email}}</td>
                            <td>{{items.date_shipped}}</td>
                            <td>
                              <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="shipping_status" value="false">
                                <input type="hidden" name="num" value={{items.id}}>
                                <button type="submit" class="btn btn-danger btn-sm">Mark UnShipped</button>
                              </form>

                          </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
            </center>
        </div>
    </div>
  </section>
    {% endblock %}